**/__pycache__
**/.DS_Store
.DS_Store
results
manuscript
sinusoidal.gcx
code/misc
code/model/gradient_analysis.py
code/model/counter.py
code/model/vocab_extension.py
code/analyze-gradient_palindrome.py
code/train_palindrome_vocab-extension.py
code/train_sort_transitivity.py
code/train_count.py
code/train_pseudo-lm.py
code/test_lyapunov.py
code/extend-vocab_palindrome.py
code/test_bag-of-words_accuracy.py
code/test_sort_pairwise-order.py
code/train_copy-memory.py
code/train_palindrome_autoregression.py
code/train_palindrome_continuous.py
code/train_sort_autoregression.py
code/model/lyapunov_analysis.py