**/__pycache__
**/.DS_Store
.DS_Store
results
manuscript
sinusoidal.gcx
code/misc
code/model/gradient_analysis.py
code/model/counter.py
code/analyze-gradient_palindrome.py
code/train_palindrome_vocab-extension.py
code/train_sort_transitivity.py
code/train_count.py
code/train_pseudo-lm.py
code/test_lyapunov.py
code/model/lyapunov_analysis.py